.btn {

    color: rgb(233, 29, 29);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

a:hover {
    color: aqua;
}

header {
    font-size: 40px;
}

span {
    background-color: gainsboro;
}

img {
    padding: 5rem;
    display: inline-block;

}